<div style="padding: 10%">
	<form class="form-horizontal" name="registerForm">
	  <fieldset>
	    <div id="legend">
	      <legend class="">Register</legend>
	    </div>
	    <div class="control-group" ng-class="{'has-error':registerForm.username.$touched && registerForm.username.$invalid}">
	      <!-- Username -->
	      <label class="control-label"  for="username">Username</label>
	      <div class="controls">
	        <input ng-model='user.username' type="text" id="username" name="username"  class="input-xlarge" minlength="2" required>
	        <p class="help-block" ng-show="registerForm.username.$touched && registerForm.username.$invalid && registerForm.username.$error.required">Username required</p>
	        <p class="help-block" ng-show="registerForm.username.$touched && registerForm.username.$invalid && registerForm.username.$error.minlength">Username must be at least 2 characters</p>
	      </div>
	    </div>
	 
	    <div class="control-group" ng-class="{'has-error':registerForm.email.$touched && registerForm.email.$invalid}">
	      <!-- E-mail -->
	      <label class="control-label" for="email">E-mail</label>
	      <div class="controls">
	        <input ng-model='user.email' type="email" id="email" name="email"  class="input-xlarge" required>
	        <p class="help-block" ng-show="registerForm.email.$touched && registerForm.email.$invalid && registerForm.email.$error.required">Email required</p>
	        <p class="help-block" ng-show="registerForm.email.$touched && registerForm.email.$invalid && registerForm.email.$error.email">Not a valid Email</p>
	      </div>
	    </div>
	 
	    <div class="control-group" ng-class="{'has-error':registerForm.password.$touched && registerForm.password.$invalid}">
	      <!-- Password-->
	      <label class="control-label" for="password">Password</label>
	      <div class="controls">
	        <input minlength="4" ng-model='user.password' type="password" id="password" name="password"  class="input-xlarge" required>
	        <p class="help-block" ng-show="registerForm.password.$touched && registerForm.password.$invalid && registerForm.password.$error.required">Password required</p>
	        <p class="help-block" ng-show="registerForm.password.$touched && registerForm.password.$invalid && registerForm.password.$error.minlength">Password must be at least 4 characters</p>
	      </div>
	    </div>
	 
	    <div class="control-group" ng-class="{'has-error':registerForm.password_confirm.$touched && registerForm.password_confirm.$invalid}">
	      <!-- Password -->
	      <label class="control-label"  for="password_confirm">Password (Confirm)</label>
	      <div class="controls">
	        <input match-password='password' ng-model='user.password_confirm' type="password" id="password_confirm" name="password_confirm"  class="input-xlarge" required>
	        <p class="help-block" ng-show="registerForm.password_confirm.$touched && registerForm.password_confirm.$invalid && registerForm.password_confirm.$error.required">Confirm Password required</p>
	        <p class="help-block" ng-show="registerForm.password_confirm.$touched && registerForm.password_confirm.$invalid && registerForm.password_confirm.$error.passwordMatch">Your passwords did not match</p>
	      </div>
	    </div>
	 	
	    <div class="control-group" style="margin-top:10px;">
	      <!-- Button -->
	      <div class="controls">
	        <button type="button" ng-click="register()" class="btn btn-success">Register</button>
	      </div>
		 </div>
	  </fieldset>
	</form>
</div>